html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.wrap {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
/* INDEX PAGE*/

/*Logo, Main Navigation, Cart*/

.header {
  padding: 50px 0 0;
  background: #eee;
}

.header-wrap {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.index-logo {
  width: 160px;
  height: 65px;
  margin-left: 0;
}

.index-logo:hover {
  opacity: 0.8;
}

.index-logo:active {
  opacity: 0.3;
}

.index-logo img {
  display: block;	
  max-width: 100%;
  height: auto;
}

.menu {
  display: flex;
  width: 800px;
  align-items: flex-start;
  margin-top: 10px;
  text-transform: uppercase;
}

.menu-list {
	display: flex;
  flex-wrap: wrap;	
	margin: 0 auto 0 0;
	padding: 0;
	list-style: none;
}

.menu-list li {
  margin-right: 50px;
}

.menu-list li: hover {
  color: #fb565a;
}

.menu-list li:active {
  color: #a6a6a6;
}

.menu-list li:last-child {
  margin: 0;
}

.menu a {
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}

.menu a:hover {
  color: #fb565a;
}

.menu a:active {
  color: #000;
  opacity: 0.3;
}

.cart-block {
  width: 115px;
  text-align: right;
  background: url('../img/cart-icon.png') no-repeat 5px 5px;
}

/*Slider*/

.slider {
  background: #eee;
}

.slider-description {
  width: 400px;
}

.slider-2 .slider-description {
  width: 520px;
}

.slider-3 .slider-description {
  width: 420px;
}

.slider-list {
  margin: 0;
	padding: 0;
	list-style-type: none;
}

.slider-list li {
  padding-top: 75px;
  padding-bottom: 79px;
}

.slider-1 {
  background: url(../img/slide-1.png) no-repeat right 30px bottom 0;
}

.slider-2 {
  background: url(../img/slide-2.png) no-repeat right 0 bottom 0;
}

.slider-3 {
  background: url(../img/slide-3.png) no-repeat right 0 bottom 0;
}

.slider-headline {
  margin: 0 0 25px;
  line-height: 1;
  font-weight: 500;
  font-size: 55px;
}

.slider-description-text {
  width: 370px;
  margin: 0 0 40px;
  line-height: 24px;
  font-size: 16px;
}

.slider-2 .slider-description-text {
  width: 420px;
}

.learn-more-button {
	width: 240px;
	height: 50px;
	margin-top: 46px;
  margin-bottom: 80px;
  border-radius: 3px;
  background: rgb(251, 86, 90);
  text-align: center;
	vertical-align: middle;
	line-height: 50px;	
}

.learn-more {
	display: inline-block;
  min-width: 240px;
  padding: 16px 15px;
	border-radius: 3px;
  background: #fb565a;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.learn-more:hover {
  background-color: #e74246;
}

.learn-more:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 2px 0 0 #c13135;
}

.slider input {
  display: none;
}

.slider-1,
.slider-2,
.slider-3 {
	display: none;
}

.slider-indicator {
	width: 160px;
  margin-left: -80px;
  position: absolute;
  bottom: 95px;
	left: 50%;
  text-align: center;
  font-size: 0; 
}

.slider-btn {
  width: 18px;
  height: 18px;
  margin-right: 17px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background: #fff;
  line-height: 18px;
  text-align: center;
}

.slider-btn:last-child {
  margin-right: 0;
}

.slider-btn::after {
  display: none;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  vertical-align: middle;
}

#slide-1:checked ~ .slider-list .slider-1,
#slide-2:checked ~ .slider-list .slider-2,
#slide-3:checked ~ .slider-list .slider-3 {
  display: block;
}

#slide-1:checked ~ .slider-indicator [for="slide-1"]::after,
#slide-2:checked ~ .slider-indicator [for="slide-2"]::after,
#slide-3:checked ~ .slider-indicator [for="slide-3"]::after {
  display: inline-block;
}

/*Buy Our Product Section*/

.order-product {
	display: flex;
  flex-wrap: wrap; /*блочный, ширина не нужна*/
  justify-content: space-between;
  align-items: flex-start; /*чтобы новые добавленные элементы не прилипали к потолку - падинг*/
  padding-top: 69px;
  border-bottom: 2px solid #eee;
}

.order-product-item {
  width: 300px;
	margin-right: 100px;
}

.order-product-item:nth-child(3n) {
  margin-right: 0;
}

.order-link {
  display: inline-block;
  min-width: 160px;
	padding: 16px 10px;
  border-radius: 3px;
  color: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
	text-transform: uppercase;
  line-height: 18px;
  background-color: rgb(251, 86, 90);
}

.order-link:hover {
  background-color: #e74246;
}

.order-link:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 2px 0 0 #c13135;
}

.order-title {
	text-transform: uppercase;
}

.order-product-item {
	margin-bottom: 80px;
}

.order-product-item:nth-child(2) .order-link {
	background-color: #00ca74;
}

.order-product-item:nth-child(2) .order-link:hover {
  background-color: #00bc6c;
}

.order-product-item:nth-child(2) .order-link:active {
  background-color: #00aa62;
  color: #66cc99;
  box-shadow: inset 0 2px 0 0 #009958;
}

.order-product-item:nth-child(3) .order-link {
	background-color: #efc84a;
}

.order-product-item:nth-child(3) .order-link:hover {
  background-color: #eab534;
}

.order-product-item:nth-child(3) .order-link:active {
  background-color: #e5a722;
  color: #ebba53;
  box-shadow: inset 0 2px 0 0 #ce961f;
}

/*About Us Section*/

.about-us {
	display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.about-us-block {
  width: 660px;
}

.about-us-text {
  padding-bottom: 13px;
}

.about-us-stats {
  width: 360px;
}

.orders-title {
  font-weight: bold;
	text-transform: uppercase;
}

.about-us-list {
	list-style-type: none;
	padding-left: 0;
}

.about-us-list li {
	padding: 11px 0;
}

.about-us-list li:before {
	content: "—";
	color: #d7373b;
	padding-left: 0px;
  padding-right: 5px;
  font-size: 40px;
  vertical-align: middle;
}

.about-us-logo img {
  width: 360px;
  height: 208px;
  margin-bottom: 10px;
}

.stats-title {
  font-weight: bold;
	text-transform: uppercase;
	text-align: center;
  padding-bottom: 35px;
}

.about-us-stats-text {
	display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


.stats-block {
	margin-right: 20px;
}

.stats-block:nth-child(3n) {
	margin-right: 0;
}

.percent {
	font-size: 45px;
  line-height: 1;
  font-weight: 700;

  margin: 0;
}
.percent sup {
  font-size: 30px;
}

.percent-text {
  font-size: 16px;
  line-height: 18px;
  padding: 0;
}

/*Partner Logo Gallery*/

.partner-logos {
	display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
	margin-top: 132px;
	/*margin-left: 171px;*/
  margin-bottom: 80px;
  padding: 45px 30px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee; 
}

.partner-logos:last-child {
	margin-right: 0;
}

.logo-item {
	margin: 0;
  opacity: 0.2;
}

.logo-item:hover {
  opacity: 1;
}

.logo-item:active {
  opacity: 0.1;
}

.logo-item:first-child {
	margin-right: 96px;
}

.logo-item:nth-child(2) {
	margin-right: 103px;
}

.logo-item:nth-child(3) {
	margin-right: 121px;
}

.contact-title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
}

.contact-block {
	width: 319px;
	position: relative;
	padding-top: 53px;
	padding-bottom: 47px;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 18px;
	background-color: white;
}

.contact-address {
	line-height: 24px;
}

.contact-us {
  display: block;
	padding: 16px 10px;
  background: rgb(251, 86, 90);
	color: white;
	text-transform: uppercase;
  text-decoration: none;
	text-align: center;
  line-height: 18px;
  border-radius: 3px;
}

.contact-us:hover {
  background-color: #e74246;
}

.contact-us:active {
  border-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 2px 0 0 #c13135;
}

/*Footer Social Section*/

.footer {
  padding: 30px 0;
}

.social {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-text-title {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;/*для р обнулить отступы чтобы не было лишних*/
}

.social-buttons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
  margin-right: 11px;
  background-color: #e1e1e1;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn-vk::after { 
  width: 79px;
  height: 79px;
  content: "";
  display: block;
  background-image: url('../img/vk-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-vk:active::after {
  opacity: 0.3;
}

.social-btn-fb::after { 
  width: 79px;
  height: 79px;
  content: "";
  display: block;
  background-image: url('../img/fb-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-fb:active::after {
  opacity: 0.3;
}

.social-btn-inst::after { 
  width: 79px;
  height: 79px;
  content: "";
  display: block;
  background-image: url('../img/insta-icon.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn-inst:active::after {
  opacity: 0.3;
}


.map {
  padding: 54px 0;
  position: relative;
  overflow: hidden;
}

.map-image {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1440px;
  margin-left: -735px;
}

.map-marker {
  position: absolute;
  width: 231px;
  height: 190px;
  left: 55.5%;
  bottom: 12%;
  z-index: 10;
}

.contact-block {
  position: relative;
  z-index: 10;
}


h1 {
	font-size: 55px;
	font-family: Roboto, Verdana, sans-serif;
	font-weight: medium;
	line-height: 55px;
	color: #000000;
}

h2 {
	font-size: 45px;
	font-family: Roboto, Verdana, sans-serif;
	font-weight: medium;
	line-height: 45px;
	color: #000000;
}

h3 {
	font-size: 16px;
	font-family: Roboto, Verdana, sans-serif;
	font-weight: bold;
	line-height: 30px;
	color: #000000;
}

.contact-us-form {
  position: relative; 
  display: none;
}

.contact-us-title {
  padding: 0;
  margin: 0 0 30px 0;
}

.contact-us-data {
  width: 960px;
  height: 590px; 
  position: absolute;
  margin-top: -760px;
  margin-left: -480px;
  padding: 66px 70px 66px 90px;
  left: 50%;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0 15px 40px 0 #666666;
  border: none;
}

.input-holder input[type='text'], .input-holder textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 3px;
  border: 3px solid rgb(215, 220, 222);
}

.input-holder textarea {
  height: 119px;
}

.client-name {
  float: left;
  width: 360px;
}

.client-email {
  float: right; 
  width: 360px;
}

.client-name, .client-email, .client-letter {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.clearfix::after {
content:'';
display: table;
clear: both;
margin-bottom: 36px;
}

.send-letter {
  width: 260px;
  display: block;
  margin-top: 49px;
  padding: 16px 10px;
  background: rgb(251, 86, 90);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 18px;
  border-radius: 3px;
  border: none;
}


/*CATALOGUE PAGE*/

.active {
  border-bottom: 3px solid #fb565a;
}

.inner-title {
  text-align: center;
  padding-bottom: 118px;
}

.filter-holder {
  border: none;
}

.filter {
  float: left;
  width: 260px;
  min-height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 45px;

}

.filter-title {
  text-transform: uppercase;
  font-weight: bold;
}

.filter-block {
  padding-bottom: 60px;

}

.option {
  color: #283136;
  padding: 15px;
}

.sorted-by {
  width: 760px;
  padding-bottom: 60px;
  float: right;
}

.sorted-by-title {
  text-transform: uppercase;
  font-weight: bold;
}

.sort-by-block {
  display: inline-block;
  margin-top: 48px;
  margin-left: ;
}

.sort-up, .sort-down {
  font-size: 0;
  width: 9px;
  height: 9px;
  display: inline-block;
}

.sort-down {
  background: url('../img/sort-down.png') no-repeat;
  margin-right: 20px;
  margin-left: 50px;

}

.sort-up {
  background: url('../img/sort-up.png') no-repeat;
  margin-right: 0px;
}

.sorted-by-option {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding-right: 27px;
  padding-left: 27px;
}

.catalog-list {
  float: right;
  width: 760px;
}

.catalog {
  font-size: 0;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  display: inline-block;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
  position: relative;
  border-top: 40px solid #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-item::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  top: -25px;
  left: 10px;
  z-index: 10;
  box-shadow: 23px 0 0 #fff, 46px 0 0 #fff;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover .catalog-info {
  display: block;
}

.catalog-info {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 25px 80px 43px;
  text-align: center;
  background-color: #eeeeee;
}
.catalog-item-title {
  margin: 0 0 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: #000;
}

.catalog-item-descr {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 18px;
  color: #666;
}

.catalog-btn {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  background: #fb565a;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.catalog-btn:hover {
  background-color: #e74246;
}

.catalog-btn:active {
  background-color: #d7373b;
  color: #e37376;
  box-shadow: inset 0 2px 0 0 #c13135;
}

.pagination li{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: lightgrey;
}

.pagination a {
  text-decoration: none;
  color: black;
}